---
const {fileUrl, fileName, miniatura} = Astro.props;
---
<div>
    <div class="download">
        <img src={miniatura} alt="">
        <a href={fileUrl} download={fileName}>DESCARGAR CATALOGO</a>
    </div>
</div>

<style>
    div {
        height: 100%;
    }
    .download {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;
        margin: 0 auto;
    }
    img {
        height: 100%;
        object-fit: scale-down;
        filter: brightness(0.5) blur(1px);
    }
    a {
        position: absolute;
        color: white;
        font-weight: 500;
        padding: 0.5rem 1rem;
        background-color: rgba(0,0,0,0.5);
    }
</style>