---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";

import banner from "../assets/nosotros-img/banner.jpg";
import Body from "../components/Body.astro";

---

<Layout path="404" title_page="REFAMIJ - 404 Not Found"> 
    <Banner title="REFAMIJ" img={banner.src}/>
    <Body> 
        <div>
            <h1>404</h1>
            <h3>Not Found</h3>
        </div>
    </Body>
</Layout>

<style>
    div {
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    h1 {
        color: var(--blue-refamij);
        font-size: 60px;
    }

    h3 {
        font-size: 30px;
    }
</style>