---
const marcasLogo = await Astro.glob("../../assets/logos-marcas/*");
const marcasImg = await Astro.glob("../../assets/img-marcas/*");

const marcas = new Array();
for (let i = 0; i < marcasLogo.length; i++) {
    const logo = marcasLogo[i];
    const image = marcasImg[i];
    marcas.push({
        logo: logo["default"]["src"],
        image: image["default"]["src"],
    });
}
---

<div class="swiper-marcas swiper">
    <div class="swiper-wrapper">
        {
            marcas.map((marca) => (
                <div class="swiper-slide">
                    <div class="img-machine-container">
                        <img src={marca["image"]} />
                    </div>
                    <div class="img-logo-container">
                        <img src={marca["logo"]} />
                    </div>
                </div>
            ))
        }
    </div>
</div>

<script is:inline type="module">
    import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

    let swiper = new Swiper(".swiper-marcas", {
        direction: "horizontal",
        slidesPerView: 4,
        spaceBetween: 50,
        loop: "true",
        speed: 2000,
        autoplay: true,
        breakpoints: {
            250: {
                slidesPerView: 1,
            },
            500: {
                slidesPerView: 2,
            },
            900: {
                slidesPerView: 3,
            },
            1000: {
                slidesPerView: 4,
            },
        },
    });
</script>

<style>
    .swiper-marcas {
        width: 1150px;
        margin: 40px auto 0 auto;
    }

    .img-machine-container {
        height: 300px;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    .swiper-slide:hover .img-machine-container {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .swiper-slide:hover .img-logo-container {
        display: none;
    }

    .swiper .swiper-slide .img-logo-container {
        width: 80%;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .img-machine-container img {
        height: 300px;
        width: 250px;
        object-fit: cover;
        background-color: white;
        mix-blend-mode: multiply;
        border-radius: 5px;
    }

    .img-logo-container img {
        width: 100%;
        object-fit: contain;
    }

    @media screen and (max-width: 1250px) {
        .swiper-marcas {
            width: 98%;
        }
        .swiper-slide {
            padding: 0;
        }
        .img-machine-container {
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 500px) {
        .swiper .swiper-slide .img-logo-container {
            width: 50%;
        }
        .img-logo-container img {
            width: 80%;
            object-fit: contain;
        }
    }
</style>
