---
import "../styles/global.css";

interface Props {
    title: string;
    img: string;
}
const { title, img } = Astro.props;

const contacto = 'CONTACTO';
const isContacto = 'is-contacto';
---

<section class={`banner ${title == contacto && isContacto}`}>
    <div>
        <img
            src={img}
            title={title}
            alt={title}
        />
        <h1>{title}</h1>
    </div>
</section>

<style>
    .banner {
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: 5px solid var(--blue-refamij);
        position: relative;
    }

    .is-contacto {
        background-color: var(--blue-refamij);
    }

    .banner img {
        position: fixed;
        object-fit: cover;
        top: -50px;
        width: 100%;
        z-index: -1;
    }

    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 50px;
        color: white;
        text-align: center;
    }

    @media screen and (max-width: 1050px) and (max-height: 1400px) {
        .banner img {
            height: 60vh;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 1200px) {
        .banner img {
            top: -50;
        }
    }

    @media screen and (max-width: 1050px) {
        .banner {
            height: 40vh;
        }
        .banner img {
            top: 0;
        }
    }

    @media screen and (max-width: 700px) {
        .banner img {
            height: 50vh;
        }
    }

    @media screen and (max-width: 400px) {
        h1 {
            font-size: 30px;
        }
    }
</style>
