---
interface Props {
    title: string;
    formId: string;
}
const { title, formId } = Astro.props;
---

<div class="form-container">
    <h2>{title}</h2>
    <div class="blue-line"></div>
    <form id={formId}>
        <div class="lb-container">
            <div class="input-container" style="width: 47%">
                <label for="name">Nombre</label><br />
                <input
                type="text"
                id="name"
                name="Nombre"
                required
                />
            </div>
            <div class="input-container" style="width: 47%">
                <label for="last-name">Apellido</label><br />
                <input
                    type="text"
                    id="last-name"
                    name="Apellido"
                    required
                />
            </div>
        </div>
        <div class="input-container">
            <label for="email">Correo Electrónico</label><br />
            <input
            type="email"
            id="email"
            name="Correo"
            required
            />
        </div>
        <div class="input-container">
            <label for="phone">Teléfono</label><br />
            <input type="tel" id="phone" name="Telefono" />
        </div>
        <div class="input-question">
            <label for="message">¿En qué podemos ayudarte?</label><br />
            <textarea
                name="Mensaje"
                id="message"
                cols="30"
                rows="5"
                minlength="6"></textarea>
        </div>
        <button type="submit">
            <span><i class="material-icons">send</i></span>
            Enviar
        </button>
    </form>
</div>

<style>
    .form-container {
        width: 50%;
    }

    h2 {
        color: var(--blue-refamij);
        font-size: 25spx;
        font-weight: 700;
        text-align: center;
    }

    .blue-line {
        height: 5px;
        width: 80%;
        background-color: var(--blue-refamij);
        margin: 0.5rem auto 1rem auto;
    }

    form {
        width: 80%;
        margin: 0 auto;
        height: fit-content;
    }

    form .lb-container {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    form input {
        width: 100%;
        padding: 5px;
        margin: 0.3rem auto 0.5rem auto;
        border: 1px solid var(--blue-refamij);
    }

    form div label {
        color: var(--blue-refamij);
        font-weight: 600;
    }

    form textarea {
        width: 100%;
        padding: 10px;
        display: flex;
        margin: 0.3rem auto 0 auto;
        border: 1px solid var(--blue-refamij);
        font-family: system-ui, sans-serif;
    }

    form input:focus,
    form textarea:focus {
        border: 1px solid var(--blue-refamij);
        outline: none;
    }

    form button {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem 2.5rem;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        display:    flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--blue-refamij);
        border: 2px solid var(--blue-refamij);
        transition: all 0.3s ease-in;
    }

    form button span {
        padding-right: 20px;
    }

    @media screen and (max-width: 1200px) {
        .form-container {
            width: 90%;
        }
    }

    @media screen and (max-width: 1000px) {
        form{
            width: 90%;
        }
    }

    @media screen and (max-width: 750px) {
        .form-container {
            margin-top: 1.5rem;
        }
        form {
            width: 95%;
            padding: 1.5rem 2rem;
        }
    }

    @media screen and (max-width: 550px) {
        form input,
        form textarea {
            padding: 5px;
        }
        form button {
            padding: 0.5rem 1.5rem;
        }
    }

    @media screen and (max-width: 450px) {
        form h2 {
            font-size: 25px;
        }

        form label {
            font-size: 15px;
            line-height: 25px;
        }
    }

    @media screen and (max-width: 300px) {
        form {
            padding: 1rem;
        }

        form h2 {
            font-size: 20px;
        }

        form button {
            padding: 0.5rem 1.5rem;
            font-size: 14px;
        }

        form i {
            font-size: 15px;
        }
    }
</style>
