---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/home/Banner.astro";
import MarcasSwiper from "../components/home/MarcasSwiper.astro";
import ClientesSwiper from "../components/home/ClientesSwiper.astro";
import Body from "../components/Body.astro";

import banner from "../assets/nosotros-img/banner.jpg";
const images = await Astro.glob(
    "../assets/home_img/*.jpg",
);
---

<Layout
    path="/"
    title_page="Refamij - Soluciones integrales al sector industrial"
>
    <Banner title="" img={banner.src}/>
    <Body>
        <section class="nosotros">
            <h4>BIENVENIDO A</h4>
            <h3 style="font-size: 30px">REFAMIJ</h3>
            <div class="separator"></div>
            <p>
                Integrando soluciones industriales desde el 2005.
            </p>
            <div class="img-div">
                {images.map((image) =>(
                    <img
                        src={image['default']['src']}
                        alt="img1"
                    />
                ))}
            </div>
        </section>
        <section class="marcas">
            <h4>NUESTRAS MARCAS</h4>
            <h3>SOMOS REPRESENTANTES</h3>
            <div class="separator"></div>
            <MarcasSwiper />
        </section>
        <section class="clientes">
            <h4>CLIENTES</h4>
            <h3>ELLOS CONFIAN EN NOSOTROS</h3>
            <div class="separator"></div>
            <ClientesSwiper />
        </section>
    </Body>
</Layout>

<style>
    section {
        width: 80%;
        margin: 0 auto 2.5rem auto;
        text-align: center;
    }

    h3 {
        color: var(--blue-refamij);
        font-size: 22px;
        font-weight: 700;
    }

    h4 {
        font-size: 15px;
        font-weight: 500;
    }

    .separator {
        height: 3px;
        width: 50px;
        background-color: var(--yellow);
        margin: 1rem auto;
    }

    .nosotros {
        width: 80%;
        padding: 0 0 2.5rem 0;
    }
    .nosotros p {
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 2.5rem;
        font-size: 18px;
        font-weight: 500;
    }
    .nosotros .img-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .nosotros img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 2px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .nosotros img:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.05);
    }

    .marcas {
        display: block;
        width: 100%;
        padding: 2rem 0 3rem 0;
        background: linear-gradient(
            var(--dark-blue),
            var(--blue-refamij),
            var(--blue-refamij)
        );
    }
    .marcas h3 {
        color: var(--yellow);
    }
    .marcas h4 {
        color: white;
    }

    @media screen and (max-width: 950px) {
        .nosotros {
            width: 90%;
        }
    }
</style>
